---
import blog1 from '../assets/images/blog/01.jpg'
import blog2 from '../assets/images/blog/02.jpg'
import blog3 from '../assets/images/blog/03.jpg'

let activeTab = 1

---
<div class="container relative">
    <div class="grid grid-cols-1 pb-6 text-center">
        <h3 class="font-semibold text-2xl leading-normal mb-4">A Performance-driven Marketing Agency</h3>
        
        <p class="text-slate-400 max-w-xl mx-auto">This is just a simple text made for this unique and awesome template, you can replace it with any text.</p>
    </div>

    <div class="grid md:grid-cols-12 grid-cols-1 mt-6 gap-6">
        <div class="lg:col-span-4 md:col-span-5">
            <div class="sticky top-20">
                <ul class="flex-column p-6 bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 rounded-md" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                    <li role="presentation">
                        <button class="px-4 py-2 text-start text-base font-medium rounded-md w-full hover:text-teal-500 duration-500" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
                            <span class="block">Step 1</span>
                            <span class="text-lg mt-2 block">SEO Audit</span>
                            <span class="block mt-2">We offer flexible and comprehensive online marketing plans</span>
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="px-4 py-2 text-start text-base font-medium rounded-md w-full mt-6 duration-500" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                            <span class="block">Step 2</span>
                            <span class="text-lg mt-2 block">Project Execution</span>
                            <span class="block mt-2">We offer flexible and comprehensive online marketing plans</span>
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="px-4 py-2 text-start text-base font-medium rounded-md w-full mt-6 duration-500" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
                            <span class="block">Step 3</span>
                            <span class="text-lg mt-2 block">Results & Reporting</span>
                            <span class="block mt-2">We offer flexible and comprehensive online marketing plans</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="lg:col-span-8 md:col-span-7">
            <div id="myTabContent" class="p-6 bg-white dark:bg-slate-900 shadow-sm dark:shadow-gray-700 rounded-md">
                <div class="" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <img src={blog1.src} class="shadow-sm dark:shadow-gray-700 rounded-md" alt="">
                    
                    <div class="mt-6">
                        <h5 class="text-lg font-medium">SEO Audit</h5>
                        <p class="text-slate-400 mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, impedit vitae. Nobis, similique omnis cumque sapiente laboriosam animi quod cupiditate?</p>
                        <div class="mt-4">
                            <a href="" class="text-teal-500">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="hidden " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <img src={blog2.src} class="shadow-sm dark:shadow-gray-700 rounded-md" alt="">
                    
                    <div class="mt-6">
                        <h5 class="text-lg font-medium">Project Execution</h5>
                        <p class="text-slate-400 mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, impedit vitae. Nobis, similique omnis cumque sapiente laboriosam animi quod cupiditate?</p>
                        <div class="mt-4">
                            <a href="" class="text-teal-500">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="hidden " id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <img src={blog3.src} class="shadow-sm dark:shadow-gray-700 rounded-md" alt="">
                    
                    <div class="mt-6">
                        <h5 class="text-lg font-medium">Results & Reporting</h5>
                        <p class="text-slate-400 mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, impedit vitae. Nobis, similique omnis cumque sapiente laboriosam animi quod cupiditate?</p>
                        <div class="mt-4">
                            <a href="" class="text-teal-500">Read More <i class="mdi mdi-chevron-right align-middle"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end grid-->
</div><!--end container-->

<script>
    // @ts-nocheck
    try {
    const Default = {
        defaultTabId: null,
        activeClasses: 'text-white bg-teal-500',
        inactiveClasses: 'hover:text-teal-500 dark:hover:text-white hover:bg-slate-50 dark:hover:bg-slate-800',
        onShow: () => { }
    }
    
    class Tabs {
        constructor(items = [], options = {}) {
            this._items = items
            this._activeTab = options ? this.getTab(options.defaultTabId) : null
            this._options = { ...Default, ...options }
            this._init()
        }
    
        _init() {
            if (this._items.length) {
                // set the first tab as active if not set by explicitly
                if (!this._activeTab) {
                    this._setActiveTab(this._items[0])
                }
    
                // force show the first default tab
                this.show(this._activeTab.id, true)
    
                // show tab content based on click
                this._items.map(tab => {
                    tab.triggerEl.addEventListener('click', () => {
                        this.show(tab.id)
                    })
                })
            }
        }
    
        getActiveTab() {
            return this._activeTab
        }
    
        _setActiveTab(tab) {
            this._activeTab = tab
        }
    
        getTab(id) {
            return this._items.filter(t => t.id === id)[0]
        }
    
        show(id, forceShow = false) {
            const tab = this.getTab(id)
    
            // don't do anything if already active
            if (tab === this._activeTab && !forceShow) {
                return
            }
    
            // hide other tabs
            this._items.map(t => {
                if (t !== tab) {
                    t.triggerEl.classList.remove(...this._options.activeClasses.split(" "));
                    t.triggerEl.classList.add(...this._options.inactiveClasses.split(" "));
                    t.targetEl.classList.add('hidden')
                    t.triggerEl.setAttribute('aria-selected', false)
                }
            })
    
            // show active tab
            tab.triggerEl.classList.add(...this._options.activeClasses.split(" "));
            tab.triggerEl.classList.remove(...this._options.inactiveClasses.split(" "));
            tab.triggerEl.setAttribute('aria-selected', true)
            tab.targetEl.classList.remove('hidden')
    
            this._setActiveTab(tab)
    
            // callback function
            this._options.onShow(this, tab)
        }
    
    }
    
    window.Tabs = Tabs;
    
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[data-tabs-toggle]').forEach(triggerEl => {
    
            const tabElements = []
            let defaultTabId = null
            triggerEl.querySelectorAll('[role="tab"]').forEach(el => {
                const isActive = el.getAttribute('aria-selected') === 'true'
                const tab = {
                    id: el.getAttribute('data-tabs-target'),
                    triggerEl: el,
                    targetEl: document.querySelector(el.getAttribute('data-tabs-target'))
                }
                tabElements.push(tab)
    
                if (isActive) {
                    defaultTabId = tab.id
                }
            })
            new Tabs(tabElements, {
                defaultTabId: defaultTabId
            })
        })
    })
} catch (error) {
    
}
</script>