---
	import '../assets/css/tailwind.css'
  import '../../node_modules/tobii/dist/css/tobii.min.css'
import Switcher from '../components/switcher.astro'
---
<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Upcover - Astro Js Business Landing Page Template</title>
        <meta name="description" content="Responsive Tailwind CSS Template">
        <meta name="keywords" content="Onepage, creative, modern, Tailwind CSS, multipurpose, clean">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="1.1.0">
        <!-- favicon -->
        <link href="/favicon.ico" rel="shortcut icon">

        <!-- Css -->
        <!-- Main Css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css"></link>
        <script src="https://unpkg.com/feather-icons"></script>
        <script src="/js/app.js" defer></script>
        <script src="/js/plugins.init.js" defer></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">


    </head>

	<body class="font-libre-franklin text-base text-slate-900 dark:text-white bg-white dark:bg-slate-900">
		<slot />
    <Switcher/>

    <script>
      import Tobii from "tobii";
      import feather from 'feather-icons'
  
      document.addEventListener("DOMContentLoaded", function () {
        new Tobii();
      });

      feather.replace();

    </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
